body {
    display: flex;
    justify-content: center;
    font-family: monospace;
    background-color: rgb(242, 237, 228);
    color: white;
}

h1 {
    font-size: 48px;
}
 a{
     text-decoration: none;
     color: white;
 }

 p{
     margin-top:-2px;
     font-size: 14px;
 }


@media only screen and (max-width: 1232px){ .posts{width: 970px;} }
@media only screen and (max-width: 970px){ .posts{width: 728px;} }
@media only screen and (max-width: 728px){ .posts{width: 486px;} }
@media only screen and (max-width: 486px){ .posts{width: 244px;} }



#headline {
    width: 60px;
    height: 1px;
    margin-top: -8px;
    background-color: white;
}

.wrapper{
    width: 1366px;
}

.header {
    background-color: rgb(81, 99, 115);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.navBar{
    display: flex;
}

.userBtn{
    display: flex;
    justify-content: center;
    border: 0;
    font-size: 16px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
    background-color: #0D2C40;
    color: white;
}  .userBtn:hover{background-color:#1c5478 }


.userForms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #323f4a;
    padding: 10px;
}

.userForm{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #0D2C40;
    margin-right:10px ;
    box-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
}

#loginbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    width:160px;
}

#registerbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    width: 160px;
}

#usrnBox{margin-bottom:5px;}
#pwBox{margin-bottom: 20px;}
#submit{
    border: 0;
    font-size: 12px;
    padding: 8px;
    width: 80px;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.6) 2px 2px 5px;
    background-color: #516373;
    color: white;
}  #submit:hover{background-color:#1c5478 }


.postwrapper{
    display: flex;
    justify-content: center;
    border: solid thin red;
    padding: 1px;
}

.posts{
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    /*margin-left:-10px;*/
    border: solid thin black;
}


.post{
    /*border: solid thin greenyellow;*/
    display: flex;
    flex-direction: column;
    background-color: #516373;
    margin: 10px;
    padding:10px;
    max-width: 200px;
}

#postedBy{
    margin-right: 5px;
    font-size: 12px;
}

.postheader{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


#postline{
    color:gray;
    width:200px;
    /*margin-left:-10px;*/
    margin-top:-10px;
}

#posttext{margin-top:-10px;}

#date{margin-bottom: -2px;}

.postbuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.deletePost{
    border: 0;
    margin-left: 5px;
    padding: 4px;
    width: 25px;
    font-size: 14px;
    box-shadow: rgba(0,0,0,0.6) 1px 1px 5px;
    background-color: #73020C;
    color: white;
}  .deletePost:hover{background-color:#73020C }


.editPost{
    border: 0;
    margin-left: 22px;
    padding: 4px;
    font-size: 14px;
    box-shadow: rgba(0,0,0,0.6) 1px 1px 5px;
    background-color: #0D2C40;
    color: white;
}  .editPost:hover{background-color:#1c5478 }